
.photoPageDiv{
    color: rgb(242, 210, 140);
    /* align-items: center; */
    width: 100vw;
}

.photoPageDiv .title{
    display: flex;
    justify-content: space-between;
    gap: 0;
    margin-right: 4rem;
    margin-left: 4rem;
}
.photoPageDiv .title a{
    text-decoration: none;
    color: rgb(242, 210, 140);
}
.photoPageDiv .title .h2{
    margin: 0 0;
}

.photoPageDiv .sliderContent{
    width:100%;
    height:auto;
    margin: 0 auto;
}